@font-face {
    font-family: "vasir-black";
    src: url(fonts/Vazirmatn-Black.woff2) format("woff2");
    font-weight: 900;
}
@font-face {
    font-family: "vasir-extrabold";
    src: url(fonts/Vazirmatn-Extrabold.woff2) format("woff2");
    font-weight: 800;
}
@font-face {
    font-family: "vasir-semibold";
    src: url(fonts/Vazirmatn-SemiBold.woff2) format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "vasir-bold";
    src: url(fonts/Vazirmatn-Bold.woff2) format("woff2");
    font-weight: 600;
}
@font-face {
    font-family: "vasir-medium";
    src: url(fonts/Vazirmatn-Medium.woff2) format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "vasir-regular";
    src: url(fonts/Vazirmatn-Regular.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "vasir-light";
    src: url(fonts/Vazirmatn-Light.woff2) format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "vasir-extralight";
    src: url(fonts/Vazirmatn-ExtraLight.woff2) format("woff2");
    font-weight: 200;
}
@font-face {
    font-family: "vasir-thin";
    src: url(fonts/Vazirmatn-Thin.woff2) format("woff2");
    font-weight: 100;
}