* {
    scroll-behavior: smooth;
}
html {
    @include media (1000px) {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        display:block ;
    }
}
body {
    @include media (1000px) {
    margin: 0;
    padding: 0;
    width: 100%;
    }
}

.container {
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -.5;
    scroll-behavior: smooth;
    @include media (1000px) {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-bar {
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: .8rem;
        position: sticky;
        justify-self: center;
        padding: 0 1rem 1rem 1rem;
        outline: 0;
        border: 0;
        top: 0;
        z-index: 1001;
        opacity: 1;
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(255, 255, 255, 0.722) !important;
        @include media (1000px) {
            width: 100%;
            padding: 2rem 0;
            margin-top: 2rem;
        }
        .nav-left {
            width: 100%;
            display: flex;
            align-items: center;

            .list-link-all {
                width: 100%;

                .svg-nav {
                    width: .6rem;
                    margin-right: .3rem;
                }

                .list-main-left {
                    width: 100%;
                    display: flex;
                    list-style: none;
                    font-family: "vasir-extralight";
                    font-weight: 900;
                    font-size: .9rem;
                    margin-left: 11rem;
                    @include media(1000px) {
                        display: none;
                    }

                    .nav-item-hov {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: default;

                        .inside-hov {
                            min-width: 372px;
                            height: 250px;
                            display: flex;
                            background-color: #fff;
                            transition: all .3s ease-in-out;
                            opacity: 0;
                            visibility: hidden;
                            z-index: 999;
                            position: absolute;
                            text-align: right;
                            margin-top: -10rem;
                            margin-right: 10rem;
                            border-bottom: 1px solid hsla(0, 0%, 100%, .07);
                            box-shadow: 0 20px 40px 0 rgb(36 39 51 / 15%);
                            border-radius: 12px;
                            border-top: 5px solid #f8e88b;

                            .text-inside {
                                padding: 0 2.2rem 0 2.2rem;

                                &:hover {
                                    background-color: rgba(229, 237, 251, 0.748);
                                }
                            }

                            .heading-inside {
                                font-family: "vasir-thin";
                                margin: 0;

                                .link-inside {
                                    color: #303030;
                                    text-decoration: none;
                                }
                            }

                            .phara-inside {
                                font-family: "vasir-thin";
                            }
                        }

                        &:hover {
                            .inside-hov {
                                min-width: 372px;
                                height: 250px;
                                background-color: #fff;
                                transition: all .3s ease-in-out;
                                opacity: 1;
                                visibility: visible;
                                z-index: 999;
                                margin-top: 17.8rem;
                                margin-right: -150px;
                                text-align: right;
                                border-bottom: 1px solid hsla(0, 0%, 100%, .07);
                                box-shadow: 0 20px 40px 0 rgb(36 39 51 / 15%);
                                border-radius: 12px;
                                border-top: 5px solid #f8e88b;
                            }
                        }
                    }

                    .nav-item {
                        padding: 0 .8rem;
                        text-decoration: none;
                        list-style: none;
                        color: #303030;
                    }
                }

                .nav-item-hov-2 {
                    position: relative;
                    cursor: default;

                    .inside-hov-2 {
                        transition: all .3s ease-in-out;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 999;
                        position: absolute;
                        min-width: 123px;
                        height: 200px;
                        margin-top: 10px;
                        margin-right: -40px;
                        text-align: right;
                        background-color: #fff;
                        border-bottom: 1px solid hsla(0, 0%, 100%, .07);
                        box-shadow: 0 20px 40px 0 rgb(36 39 51 / 15%);
                        border-radius: 12px;
                        border-top: 5px solid #f8e88b;
                        padding-top: 20px;
                        margin-top: -10rem;
                        margin-right: 10rem;

                        .inside-link {
                            .link-inside-2 {
                                text-decoration: none;
                                color: rgba(0, 0, 0, 0.685);
                                font-family: "vasir-regular";
                                display: block;
                                padding: .5rem 0;
                                padding-right: .8rem;

                                &:hover {
                                    background-color: rgba(229, 237, 251, 0.748);
                                }
                            }
                        }
                    }

                    &:hover {
                        .inside-hov-2 {
                            min-width: 130px;
                            height: 200px;
                            position: absolute;
                            background-color: #fff;
                            transition: all .3s ease-in-out;
                            opacity: 1;
                            visibility: visible;
                            z-index: 999;
                            margin-top: 5px;
                            text-align: right;
                            border-bottom: 1px solid hsla(0, 0%, 100%, .07);
                            box-shadow: 0 20px 40px 0 rgb(36 39 51 / 15%);
                            border-radius: 12px;
                            border-top: 5px solid #f8e88b;
                            margin-top: 0;
                            margin-right: -1.5rem;
                        }
                    }
                }
            }
        }

        .main-link-left {
            width: 100%;

            .main-link {
                width: 75%;
                display: inline-block;
                text-decoration: none;
                color: #28457b;
                padding: .5rem;
                background-color: rgba(232, 239, 254, .6);
                border-radius: 50px;
                font-size: .9rem;
                margin-left: 4rem;
                text-align: center;
                font-family: "vasir-medium";
                @include media (700px) {
                    display: none;
                }

                &:hover {
                    background-color: rgba(228, 197, 0, .15);
                }
            }
        }
    }

    .nav-right {
        width: 100%;
        display: flex;
        align-items: center;

        @include media (1000px) {
            position: absolute;
        }

        .header-link-logo {
            width: 100%;
            padding: 1rem;
            background: url(../images/header-logo/logo-header-right.svg) no-repeat right center;
            // margin-right: 3.8rem;
        }
    }

    .section-mobile {
        width: 82%;
        height: 44rem;
        border-radius: 20px;
        margin-top: 2.5rem;
        transition: .5s;
        display: flex;
        justify-content: space-between;
        background: url(../images/section/section-wave.svg) no-repeat,
            linear-gradient(135deg, #21254e, #2b4a83);
            @include media (1000px) {
                width: 100vw;
                margin: 0;
                padding: 0;
            }
        .section-mobile-right {
            width: 50%;
            @include media (1000px) {
                width: 100%;
            }

            .section-mobile-title-1,
            .section-mobile-title-2 {
                color: #fff;
                font-family: "vasir-black";
                font-size: 1.8rem;
                margin-right: 3.4rem;
                
            }

            .section-mobile-title-1 {
                margin-top: 6.8rem;
                margin-bottom: -1.45rem;
            }

            .section-mobile-text {
                width: 78%;
                line-height: 2.3;
                margin: 0 auto;
                text-align: right;
                font-family: "vasir-regular";
                color: #fff;
                word-spacing: .1px;
                @include media (1000px) {
                    width: 100%;
                    text-align: center;
                }

            }

            .section-mobile-buttons {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-right: 4rem;
                margin-top: 3rem;
                @include media (650px) {
                    align-items: center;
                    justify-content: center;
                }

                .section-mobile-btn {
                    padding: .4rem 1rem;
                    border-radius: 8px;
                    outline: none;
                    border: 0;
                    background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0 no-repeat padding-box;
                    font-family: "vasir-bold";
                    color: #000;
                    text-decoration: none;
                }

                .section-mobile-btn-2 {
                    padding: .4rem 1rem;
                    border-radius: 8px;
                    outline: none;
                    color: #fff;
                    margin-right: .65rem;
                    border: 0;
                    font-family: "vasir-bold";
                    background: #435a8a 0 0 no-repeat padding-box;
                    font-family: "vasir-black";
                    color: #fff;
                    text-decoration: none;
                }
            }
        }




        .section-mobile-left {
            width: 50%;
            @include media (1000px) {
                display: none;
            }

            .section-mobile-img {
                width: 100%;
                height: 100%;
                background: url(../images/section/section-mobile.svg) no-repeat 60px/contain;
            }
        }
    }

    .end-section-mobile {
        width: 82%;
        padding: 2rem;
        background: url(../images/section/arrowbottom.svg) no-repeat center;
        margin-top: -44px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .svg-section-mobile {
            width: 1.2rem;
            position: relative;
            top: -18px;
        }
    }

    .section-createAccount {
        width: 82%;
        height: 36rem;
        margin-top: 8.5rem;
        display: flex;

        .section-createAccount-right {
            width: 100%;
            display: flex;
            justify-content: center;

            .sectionAccount-right-img {
                width: 80%;
                display: inline-block;
                margin-top: -3rem;
                margin-left: 8rem;
                background: url(../images/section-create/pg.svg) no-repeat right/contain;
            }
        }

        .section-createAccount-left {
            width: 100%;
            display: flex;
            flex-direction: column;

            .heading-section-createAccount {
                color: #747480;
                margin: 0;
                font-family: "vasir-extralight";
                font-size: 1.35rem;
            }

            .heading-section-createAccount-2 {
                font-family: "vasir-black";
                font-size: 1.9rem;
                margin: 10px 0 0 0;
                color: #303030;
            }

            .phara-section-createAccount {
                width: 90%;
                font-size: 1.1rem;
                font-family: "vasir-light";
                text-align: justify;
                word-spacing: -5px;
                letter-spacing: -.2px;
                line-height: 2.4;
            }

            .section-createAccount-line {
                width: 90%;
                height: 1px;
                background-color: #dfe1e4;
            }

            .section-createAccount-buttons {
                display: flex;
                margin-top: 2.3rem;

                .section-createAccount-item {
                    text-decoration: none;
                    color: #000;
                    padding: .2rem .4rem;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0 no-repeat padding-box;
                }

                .section-createAccount-item-2 {
                    text-decoration: none;
                    color: #28457b;
                    padding: .3rem .4rem;
                    background-color: #e8effe99;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: .6rem;

                    .svg-section-createAccount {
                        background: url(../images/section-create/arrow-left.svg) no-repeat center/contain;
                        width: .9rem;
                        height: 13px;
                        margin-right: .3rem;
                        margin-top: 4px;
                    }
                }
            }
        }
    }

    .section-social {
        width: 82%;
        display: flex;

        .section-social-right {
            width: 40%;
            display: flex;
            flex-direction: column;

            .heading-section-social {
                color: #747480;
                font-family: "vasir-extralight";
                word-spacing: -4px;
                font-size: 1.3rem;
                margin: 0;
            }

            .heading-section-social-2 {
                font-family: "vasir-black";
                font-size: 1.9rem;
                margin: 10px 0 0 0;
                color: #303030;
            }

            .phara-social {
                width: 100%;
                font-size: 1rem;
                font-family: "vasir-light";
                text-align: justify;
                word-spacing: -2px;
                line-height: 2.4;
            }

            .section-social-line {
                width: 100%;
                height: 1px;
                background-color: #dfe1e4;
            }

            .section-social-buttons {
                display: flex;
                margin-top: 2.3rem;

                .section-social-item {
                    text-decoration: none;
                    color: #000;
                    padding: .2rem .4rem;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0 no-repeat padding-box;
                }

                .section-social-item-2 {
                    text-decoration: none;
                    color: #28457b;
                    padding: .3rem .4rem;
                    background-color: #e8effe99;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: .6rem;

                    .svg-section-social {
                        background: url(../images/section-social/arrow-left.svg) no-repeat center/contain;
                        width: .9rem;
                        height: 13px;
                        margin-right: .3rem;
                        margin-top: 4px;
                    }
                }
            }
        }

        .section-social-left {
            width: 60%;
            display: flex;

            // justify-content: end;
            .section-social-img {
                width: 50%;
                transform: scale(2.6);
                margin-right: 13rem;
                margin-top: 3rem;
                background: url(../images/section-social/social-image.svg) no-repeat center/contain;
            }
        }
    }

    .section-gold {
        width: 82%;
        height: 30rem;
        margin-top: 20rem;
        display: flex;

        .section-gold-right {
            width: 100%;
            display: flex;

            .section-gold-img {
                width: 100%;
                display: inline-block;
                margin-left: 11rem;
                background: url(../images/section-gold/zarincard\ .svg) no-repeat center/contain;
            }
        }

        .section-gold-left {
            width: 100%;
            display: flex;
            flex-direction: column;

            .heading-section-gold {
                color: #747480;
                margin: 0;
                font-family: "vasir-extralight";
                font-size: 1.4rem;
            }

            .heading-section-gold-2 {
                font-family: "vasir-black";
                font-size: 1.9rem;
                margin: 5px 0 0 0;
                color: #303030;
            }

            .phara-section-gold {
                width: 90%;
                font-size: 1rem;
                font-family: "vasir-light";
                text-align: justify;
                word-spacing: -4px;
                letter-spacing: -.2px;
                line-height: 2.4;
            }

            .section-gold-line {
                width: 90%;
                height: 1px;
                background-color: #dfe1e4;
            }

            .section-gold-buttons {
                display: flex;
                margin-top: 2.3rem;

                .section-gold-item {
                    text-decoration: none;
                    color: #000;
                    padding: .2rem .4rem;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0 no-repeat padding-box;
                }

                .section-gold-item-2 {
                    text-decoration: none;
                    color: #28457b;
                    padding: .3rem .4rem;
                    background-color: #e8effe99;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: .6rem;

                    .svg-section-gold {
                        background: url(../images/section-gold/arrow-left.svg) no-repeat center/contain;
                        width: .9rem;
                        height: 13px;
                        margin-right: .3rem;
                        margin-top: 4px;
                    }
                }
            }
        }
    }

    .section-tashim {
        width: 82%;
        height: 30rem;
        display: flex;

        .section-tashim-right {
            width: 70%;
            display: flex;
            flex-direction: column;

            .heading-section-tashim {
                color: #747480;
                font-family: "vasir-extralight";
                word-spacing: -4px;
                font-size: 1.3rem;
                margin: 0;
            }

            .heading-section-tashim-2 {
                font-family: "vasir-black";
                font-size: 1.9rem;
                margin: 5px 0 0 0;
                color: #303030;
            }

            .phara-section-tashim {
                width: 100%;
                font-size: 1rem;
                font-family: "vasir-light";
                text-align: justify;
                word-spacing: -2px;
                letter-spacing: -.3px;
                line-height: 2;
            }

            .section-tashim-line {
                width: 100%;
                height: 1px;
                background-color: #dfe1e4;
            }

            .section-tashim-buttons {
                display: flex;
                margin-top: 2.3rem;

                .section-tashim-item {
                    text-decoration: none;
                    color: #000;
                    padding: .2rem .4rem;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0 no-repeat padding-box;
                }

                .section-tashim-item-2 {
                    text-decoration: none;
                    color: #28457b;
                    padding: .3rem .4rem;
                    background-color: #e8effe99;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: .6rem;

                    .svg-section-tashim {
                        background: url(../images/section-tashim/arrow-left.svg) no-repeat center/contain;
                        width: .9rem;
                        height: 13px;
                        margin-right: .3rem;
                        margin-top: 4px;
                    }
                }
            }
        }

        .section-tashim-left {
            width: 100%;
            display: flex;

            .section-tashim-img {
                width: 80%;
                margin-right: 9rem;
                background: url(../images/section-tashim/payout.svg) no-repeat center/contain;
            }
        }
    }

    .section-plus {
        width: 82%;
        height: 30rem;
        display: flex;

        .section-plus-right {
            width: 100%;
            display: flex;

            .section-plus-img {
                width: 100%;
                display: inline-block;
                margin-top: -11rem;
                margin-left: 10rem;
                background: url(../images/section-plus/zarinplus.svg) no-repeat center/contain;
            }
        }

        .section-plus-left {
            width: 100%;
            display: flex;
            flex-direction: column;

            .heading-section-plus {
                color: #747480;
                margin: 0;
                font-family: "vasir-extralight";
                font-size: 1.4rem;
            }

            .heading-section-plus-2 {
                font-family: "vasir-black";
                font-size: 1.9rem;
                margin: 5px 0 0 0;
                color: #303030;
            }

            .phara-section-plus {
                width: 90%;
                font-size: 1rem;
                font-family: "vasir-light";
                text-align: justify;
                word-spacing: -4px;
                letter-spacing: -.2px;
                line-height: 2.4;
            }

            .section-plus-line {
                width: 90%;
                height: 1px;
                background-color: #dfe1e4;
            }

            .section-plus-buttons {
                display: flex;
                margin-top: 2.3rem;

                .section-plus-item {
                    text-decoration: none;
                    color: #000;
                    padding: .2rem .4rem;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0 no-repeat padding-box;
                }

                .section-plus-item-2 {
                    text-decoration: none;
                    color: #28457b;
                    padding: .3rem .4rem;
                    background-color: #e8effe99;
                    border-radius: 10px;
                    font-family: "vasir-regular";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: .6rem;

                    .svg-section-plus {
                        background: url(../images/section-plus/arrow-left.svg) no-repeat center/contain;
                        width: .9rem;
                        height: 13px;
                        margin-right: .3rem;
                        margin-top: 4px;
                    }
                }
            }
        }
    }

    .section-moreDetail {
        width: 82%;
        display: flex;

        .section-moreDetail-right {
            width: 50%;

            .heading-moreDetail {
                font-family: "vasir-black";
                font-size: 1.75rem;
            }

            .phara-moreDetail {
                width: 80%;
                font-family: "vasir-light";
                text-align: justify;
                line-height: 2.1;
                word-spacing: -3px;
                letter-spacing: -.5px;
            }
        }

        .section-moreDetail-left {
            width: 100%;
            display: flex;

            .section-moreDetail-items {
                width: 100%;
                display: flex;

                .section-moreDetail-item-1 {
                    width: 50%;
                    border-left: 1px solid #e0e4e7;
                    display: flex;
                    flex-direction: column;

                    .total-right {
                        width: 100%;
                        border-bottom: 1px solid #e0e4e7;
                        margin-top: -2rem;
                    }

                    .heading-item-img-1 {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;

                        .heading-moreDetail-item {
                            width: 10%;
                            display: inline-block;
                            background: url(../images/moreDetail/verifiedIcon.svg) no-repeat center/contain;
                            transform: scale(2);
                            margin-left: 1rem;
                        }
                    }

                    .phara-moreDetail {
                        width: 90%;
                        text-align: justify;
                        margin-top: 3rem;
                        margin-bottom: 2rem;
                        font-family: "vasir-light";
                        line-height: 2;
                    }

                    .heading-item-img-2 {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        margin-bottom: 0;

                        .heading-moreDetail-item-2 {
                            width: 10%;
                            display: inline-block;
                            background: url(../images/moreDetail/splite.svg) no-repeat center/contain;
                            transform: scale(2);
                            margin-left: 1rem;
                        }
                    }
                }

                .section-moreDetail-item-2 {
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    .total-left {
                        width: 100%;
                        border-bottom: 1px solid #e0e4e7;
                    }

                    .heading-item-img-1 {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        margin-right: 1rem;

                        .heading-moreDetail-item {
                            width: 10%;
                            display: inline-block;
                            background: url(../images/moreDetail/verifiedIcon.svg) no-repeat center/contain;
                            transform: scale(2);
                            margin-left: 1rem;
                        }
                    }

                    .phara-moreDetail {
                        width: 90%;
                        text-align: justify;
                        font-family: "vasir-light";
                        margin-top: 3rem;
                        margin-bottom: 2rem;
                        margin-right: 1rem;
                        line-height: 2;
                    }

                    .heading-item-img-2 {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        margin-right: 1rem;
                        margin-bottom: 0;

                        .heading-moreDetail-item-2 {
                            width: 10%;
                            display: inline-block;
                            background: url(../images/moreDetail/splite.svg) no-repeat center/contain;
                            transform: scale(2);
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }

    .section-gift {
        width: 82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        border: 1px solid #c3c6cd;
        border-radius: 20px;

        .heading-gift {
            font-family: "vasir-black";
            word-spacing: -3px;
            margin-bottom: 0;
        }

        .heading-gift-2 {
            font-family: "vasir-extralight";
            white-space: -6px;
            letter-spacing: -.5px;
            font-size: 1.2rem;
            color: #747480;
        }

        .button-gift {
            text-decoration: none;
            color: #000;
            padding: .2rem .4rem;
            border-radius: 10px;
            font-family: "vasir-regular";
            background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0 no-repeat padding-box;
            margin-bottom: 1.9rem;
        }

    }

    .detail {
        width: 82%;
        height: 5rem;
        display: flex;
        margin-top: 4rem;
        border-radius: 35px;
        justify-content: space-around;
        align-items: center;
        background-color: #fbf6f1;
        @include media (1000px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
        }

        .text-detail {
            width: 100%;
            font-family: "vasir-black";
            font-size: 1.5rem;
            margin-right: 2rem;
            @include media (1000px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                font-size: 1.3rem;
            }

            .style-num {
                font-family: "vasir-black";
                font-size: 1.5rem;
                color: #21457f;
            }
        }

        .text-arrow-detail {
            width: 100%;
            text-align: end;
            margin-left: 2rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .img-detail {
                background: url(../images/detail/arrow-left.svg) no-repeat center/contain;
                width: 1rem;
                margin: 0 0;
                margin-right: 1rem;
                transform: scale(1.5);
                height: 13px;
                margin-left: 0;
                margin-top: 5px;
            }

            .link-detail {
                text-decoration: none;
                color: #21457f;
                font-family: "vasir-regular";
                font-size: 1.5rem;
            }
        }
    }

    .section-footer {
        width: 82%;
        display: flex;
        justify-content: space-around;
        @include media (1000px) {
            width: 100%;
            flex-direction: column;
        }

        .item {
            margin: 0 2rem;
            font-family: "vasir-light";

            .heading-footer {
                font-family: "vasir-extrabold";
                font-size: 1.2rem;
            }

            .items-item {
                list-style: none;
                padding: 0;

                >li {
                    padding: .7rem 0;
                }
            }
        }

        .total-logo {
            width: 100%;
            display: flex;

            .ins {
                background: url(../images/footer/instagram.svg) no-repeat center/contain;
                width: 10px;
                padding: 20px;
                background-color: #eff4fe;
                border-radius: 12px;
            }

            .tel {
                background: url(../images/footer/telegram.svg) no-repeat center/contain;
                width: 10px;
                padding: 20px;
                background-color: #eff4fe;
                border-radius: 12px;
            }

            .aparat {
                background: url(../images/footer/aparat.svg) no-repeat center/contain;
                width: 10px;
                padding: 20px;
                background-color: #eff4fe;
                border-radius: 12px;
            }

            .twi {
                background: url(../images/footer/twitter.svg) no-repeat center/contain;
                width: 10px;
                padding: 20px;
                background-color: #eff4fe;
                border-radius: 12px;
            }

            .link {
                background: url(../images/footer/linkedin.svg) no-repeat center/contain;
                width: 10px;
                padding: 20px;
                background-color: #eff4fe;
                border-radius: 12px;
            }
        }
    }

    .footer-end {
        width: 100%;
        text-align: center;
        font-family: "vasir-light";
        padding: 1rem;
        margin: 3rem;
        font-size: 1.1rem;
    }
}